<div><%=flash[:notice]%></div>
<h1>Загрузка файла:</h1>
<% form_tag ( user_datafiles_path(@user), :method => "post", :multipart => true) do %>
<p><label for="upload_file">Выберите файл</label> :
<%= file_field 'upload', 'datafile' %></p>
<%= submit_tag "Upload" %>
<% end %>

<%=link_to 'Back', user_url(@user)%>
