
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <meta http-equiv="Cache-control" content="no-cache"/>
    <link rel="shortcut icon" href="/test.jpg" />
    <title>My Test project</title>
    <%= stylesheet_link_tag "main.css" %>
    
  </head>
  <body>
    <%=yield%>


  </body>
</html>
